<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <h1>Se guardaron los siguientes datos:</h1>

        <table border="1">
            <tr>
                <th align="right"> Clave: </th>
                <td><label th:text="${producto.clave}"></td></label>
            </tr>
            <tr>
                <th align="right"> Nombre: </th>
                <td><label th:text="${producto.nombre}"></td></label>
            </tr>
            <tr>
                <th align="right"> Precio: </th>
                <td><label th:text="${producto.precio}"></td></label>
            </tr>
            <tr>
                <th align="right"> Cantidad: </th>
                <td><label th:text="${producto.cantidad}"></td></label>
            </tr>
        </table>
        <br>
        <a th:href="@{/}">
            <button>Regresar</button>
        </a> 

    </body>
</html>
